.Button {
  display: flex;
  gap: 1rem;
  align-items: right;
  justify-content: flex-end;
}

.formGroup {
  margin-bottom: 2rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #333;
}
