.container {
  padding: 20px;
  max-width: 900px;
  margin: 2rem auto 0;
  width: 100%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.Button {
  display: flex;
  gap: 1rem;
  align-items: right;
  justify-content: flex-end;
}

.formContainer {
  position: relative;
  width: 100%;
  max-width: 900px;
  padding: 2rem;
  box-sizing: border-box;
}

.formGroup {
  margin-bottom: 2rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #333;
}
