@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',"IBM Plex Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;}


